<div class="p-grid p-jc-start">
  <div class="p-col-2">
    <input-number [formGroup]="usuarioForm" label="Código:" controlName="codigo"></input-number>
  </div>

  <div class="p-col-4">
    <input-text [required]="true" [formGroup]="usuarioForm" label="Nome:" controlName="nome"></input-text>
  </div>
  <div class="p-col-2">
    <input-text [required]="true" [formGroup]="usuarioForm" label="Email" controlName="email"></input-text>
  </div>

  <div class="p-col-2">
    <input-text [required]="true"  [formGroup]="usuarioForm" label="Senha:" controlName="senha"></input-text>
  </div>

  <div class="p-col-2">
    <input-text [required]="true"  [formGroup]="usuarioForm" label="Data:" controlName="dataCadastro"></input-text>
  </div>

</div>

<form [formGroup]="usuarioForm" (ngSubmit)="submitForm()">
  <div class="m-t-25em">
    <generic-buttons model="standard" [formGroup]="usuarioForm" (cancelEvent)="cancelForm()" [canceled]="true">
    </generic-buttons>
  </div>
</form>

<app-confirm-dialog (onClose)="onHideDialogConfirm()" (confirmEvent)="confirmExit()" (cancelEvent)="showModalConfirm = false"
  [showModal]="showModalConfirm" header="Confirmação"
  content="Tem certeza que deseja sair? Alterações não salvas serão descartadas.">
</app-confirm-dialog>

<generic-response-dialog (onClose)="onHide()" (onShow)="onShow()" [showModal]="showModalResponse" [isError]="isErrorResponse" [content]="contentResponse">
</generic-response-dialog>
