@import "src/assets/styles/variables.scss";

:host ::ng-deep {
  .p-component {
    @include fontStandard;
    font-weight: unset;
  }

  form.ng-untouched.ng-pristine.ng-invalid {
    margin-top: 368px;
  }

  .p-grid.p-jc-start {
    font-size: 13px;
    display: flex;
    max-width: min-content;
  }

  .form-label.ng-untouched.ng-pristine.ng-valid {
    padding-left: 25px;
  }

  section.p-grid.p-jc-center {
    height: 46px;
    padding-top: 453px;
  }
}
