@import "src/assets/styles/colors.scss";

:host ::ng-deep {
  .rows {
    padding: 7.1px 9px;
  }

  .group-button {
    // padding-top: 15vh;
  }

  .generic-button.p-next-preview {
    height: 40px;
  }

  button.p-ripple.p-button.p-component.p-button-icon-only {
    height: 32px;
  }

  .p-d-flex.p-jc-center.rows.div-input-group {
    padding-bottom: 4px;
  }

  .button-restoreDefault {
    float: left;
  }

  .description {
    width: 50%;
    text-align: right;
    font-size: 13px;
    padding-top: 6px;
    padding-right: 12px;
    margin-bottom: -33px;
  }

  h3 {
    font-size: 13px;
  }

  .p-col-6.ng-star-inserted {
    // margin-bottom: 115px;
  }

  input#time {
    width: 156px !important;
  }


.p-col-6{
  margin-top: 177px;
  margin-bottom: -37px;
}


form.ng-untouched.ng-pristine.ng-invalid {
}

p-button.dismiss {
  margin-left: 799px!important;
}

p-button.standard.submitButton.right {
  margin-left: 654px !important;
}


  .p-invalid {
    padding-top: 40px;
    position: fixed;
    font-size: 10px;
  }

  .label-input-frequencia {
    padding-top: 19px;
  }

  .p-inputgroup.input-text.input-text-critico {
    margin-top: -13px;
  }

  .input-text {
    width: 50% !important;
    padding-top: 9.99px;

    input {
      width: 106px !important;
      min-width: 0;
      border: 1px solid #cccccc;
      font-size: 13px;
      margin-left: 732px;
    }
  }

  .group-button {
    // margin-top: 19vh;
  }

  span.p-button-icon.fa.fa-pencil-alt {
    font-size: 18px;
    color: white;
  }

  .center-picklist {
    margin-left: 24%;

    @media (min-width: 768px) {
      margin-left: 21%;
    }
  }

  .p-col-modified.ng-star-inserted {
    @media (max-width: 1400px) {
      width: 14rem;
    }
  }

  button.p-button.p-component.p-button-icon-only {
    background-color: #306889;
    border-color: #306889;
  }

  .msg-confFrequencia {
    padding: 51px 0px 0px 198px;
  }

  .p-circle {
    margin-right: 20px;
  }

  .button-restoreDefault {
    margin-right: 647px !important;
  }

  .p-button {
    height: 37px;
  }

  .p-col-1.ng-star-inserted {
    margin-left: 1362px;
  }
  .p-col-6.ng-star-inserted {
    width: 101px;
  }

  .p-col-modified.ng-star-inserted {
    width: 130px;
    margin-left: 1228px;
    margin-bottom: -45px;
  }

  .p-col-1 {
    width: 122px;
    margin-bottom: -37px;

  }

  p-button.standard {
    margin-bottom: -233px !important;
}

  .p-calendar .p-datepicker {
    top: -20vh !important;
    left: 200px !important;
    table td {
      padding: 0 !important;
    }
  }
}
