<!-- <div class="p-grid p-jc-center">
  <app-table-gerencia 
  [loading]="tableLoading" 
  page="gerencia-perfil" 
  [showModalDelete]="showModalDelete" 
  [cols]="tableColumns"
  [rowsToShow]="rows"
  [fullCols]="allColumns" 
  [immutableCols]="['codigo', 'descricao','operation']"
  (updateColumn)="saveTableConfig($event)"
  (closeDelete)="showModalDelete = false"
  [dataToFillTable]="perfilResults" 
  (delete)="deletePerfil($event)" 
  (confirmDelete)="confirmDeletePerfil()">
  </app-table-gerencia>
</div>

<generic-response-dialog (onClose)="onHide()" (onShow)="onShow()" [content]="contentResponse" [showModal]="showModalResponse"></generic-response-dialog> -->

<p>testando perfil dashboard</p>