<app-table-logs page="reajuste-preco" [cols]="tableColumns" [fullCols]="allColumns" [rowsToShow]="rows"
[immutableCols]="['codigo']" (updateColumn)="saveTableConfig($event)" [totalRecords]="totalRecords" [first]="first"
(lazyTableData)="getTableData($event)" (getData)="generateLog($event)" [showTable]="showTable" 
[loading]="tableLoading" [dataToFillTable]="dataToFillTable"></app-table-logs>

<generic-response-dialog [content]="contentResponse" (onClose)="onHide()" [showModal]="showModalResponse">
</generic-response-dialog>