<div class="p-grid p-jc-center">
  <app-table-gerencia [loading]="tableLoading" page="gerencia-usuarios" [showModalDeleteDenied]="showModalDeleteDenied"
    [showModalDelete]="showModalDelete" [cols]="tableColumns" [fullCols]="allColumns" [rowsToShow]="rows"
    (closeDelete)="showModalDelete = false; showModalDeleteDenied = false" [dataToFillTable]="usuarioResults"
    (delete)="showModalConfirmDelete($event)" (confirmDelete)="confirmDeleteUsuario()"
    [immutableCols]="['codigoComNome', 'operation']" [globalFilterFields]="['codigoComNome',
    'email', 'dataSenha']" (updateColumn)="saveTableConfig($event)">
  </app-table-gerencia>
</div>


<generic-response-dialog [content]="contentResponse" (onClose)="onHide()" [showModal]="showModalResponse">
</generic-response-dialog>