@import "src/assets/styles/variables.scss";

:host ::ng-deep {
  input {
    text-transform: uppercase;
  }

  .p-component {
    @include fontStandard;
    font-weight: unset;
  }
  .p-inputtext {
    @include fontStandard;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    font-weight: 400 !important;
  }

  .p-accordion-tab-active .p-accordion-header-text {
    color: #2d9cdb;
  }

  @media (max-width: 1460px) {
    .p-col-modified-center {
      width: 16.6% !important;
    }
  }

  @media (max-width: 1100px) {
    .p-col-modified-center {
      width: 24% !important;
    }
  }

  .dialogEditarUsuario {
    width: 360px;
    height: 290px;
    background: white;

    > .p-dialog-content {
      color: #495057;
      padding-top: 1em;
      @include fontStandard;
      height: 240px;
    }

    > .p-dialog-header {
      background: #eaeaea;
      width: 360px;
      height: 40px;
    }

    > .p-dialog-footer {
      text-align: center;
    }
  }
}
